In [1]:
#importing liberaries
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [3]:
train.shape,test.shape  # shape of the data

((7000, 24), (3000, 23))

In [4]:
train.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [5]:
(train.columns) # cloumns in the dataset

Index(['Employee_ID', 'Gender', 'Age', 'Education_Level',
       'Relationship_Status', 'Hometown', 'Unit', 'Decision_skill_possess',
       'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
       'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits',
       'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6',
       'VAR7', 'Attrition_rate'],
      dtype='object')

In [6]:
train.describe() # various statistics terms

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,7000.000000,6856.000000,7000.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,3.187857,13.385064,2.367143,47.064286,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,1.065102,10.364188,1.149395,15.761406,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [7]:
train.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          412
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
Attrition_rate                 0
dtype: int64

In [8]:
data = train.append(test)
data.shape

C:\Users\DELL\Miniconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(10000, 24)

In [9]:
# now splitting for X and Y 
X = data.drop(['Attrition_rate','Employee_ID'],axis=1)
Y = data['Attrition_rate']
X.shape , Y.shape

((10000, 22), (10000,))

In [10]:
X.dtypes # type of columns

Age                          float64
Compensation_and_Benefits     object
Decision_skill_possess        object
Education_Level                int64
Gender                        object
Hometown                      object
Pay_Scale                    float64
Post_Level                     int64
Relationship_Status           object
Time_of_service              float64
Time_since_promotion           int64
Travel_Rate                    int64
Unit                          object
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Work_Life_balance            float64
growth_rate                    int64
dtype: object

In [11]:
l =  list(X.select_dtypes(include=object).columns)  #categorical values
l

['Compensation_and_Benefits',
 'Decision_skill_possess',
 'Gender',
 'Hometown',
 'Relationship_Status',
 'Unit']

In [12]:
X['Age'].fillna(X['Age'].median(), inplace = True)

In [14]:
# now doing the label encoding for the categorical 
for i in l:
    X1=LabelEncoder()
    X[i]=X1.fit_transform(X[i])
X.head(5)

,Age,Compensation_and_Benefits,Decision_skill_possess,Education_Level,Gender,Hometown,Pay_Scale,Post_Level,Relationship_Status,Time_of_service,...,Unit,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Work_Life_balance,growth_rate
0,42.0,2,2,4,0,1,7.0,1,0,4.0,...,2,4,0.7516,1.8688,2.0,4,5,3,3.0,33
1,24.0,2,0,3,1,3,6.0,3,1,5.0,...,3,3,-0.9612,-0.4537,2.0,3,5,3,4.0,36
2,58.0,2,2,3,0,0,8.0,2,0,27.0,...,8,4,-0.9612,-0.4537,3.0,3,8,3,1.0,51
3,26.0,2,1,3,0,2,8.0,3,1,4.0,...,1,3,-1.8176,-0.4537,NaN,3,7,3,1.0,56
4,31.0,3,2,1,0,3,2.0,3,0,5.0,...,3,1,0.7516,-0.4537,2.0,2,8,2,3.0,62

In [16]:
X.isnull().sum()

Age                            0
Compensation_and_Benefits      0
Decision_skill_possess         0
Education_Level                0
Gender                         0
Hometown                       0
Pay_Scale                     12
Post_Level                     0
Relationship_Status            0
Time_of_service              196
Time_since_promotion           0
Travel_Rate                    0
Unit                           0
VAR1                           0
VAR2                         794
VAR3                           0
VAR4                         954
VAR5                           0
VAR6                           0
VAR7                           0
Work_Life_balance             16
growth_rate                    0
dtype: int64

In [17]:
# filling the missing values with the mean 
imputer=Imputer(missing_values='NaN', strategy='mean',axis=0)
imputer=imputer.fit(X)
X=imputer.transform(X)

C:\Users\DELL\Miniconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [18]:
# normalization of the data
sc = StandardScaler()
X = sc.fit_transform(X)

In [19]:
type(Y)

pandas.core.series.Series

In [23]:
train_x = X[:7000,:]
train_y = Y[:7000]
test_x = X[7000:,:]

In [24]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(train_x,train_y, test_size = 0.2)

# XGBoost

In [27]:
#inialising the model
import xgboost
model=xgboost.XGBRegressor()
model.fit(X_train,y_train)

C:\Users\DELL\Miniconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, importance_type='gain',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
             nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
             subsample=1)

In [28]:
#predicting for x_test
y_pred = model.predict(X_test)

In [30]:
y_pred

array([0.17217517, 0.153793  , 0.23923853, ..., 0.15347773, 0.17865187,
       0.20397145], dtype=float32)

In [31]:
# calculating the accurcay
print("Accuracy:",metrics.(y_test, y_pred))

Accuracy: -0.02267214904906334

# SVM Classification

In [25]:
#inialising the model
model = SVC(kernel='linear',C=0.025)
model.fit(X_train,y_train)

SVC(C=0.025, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
#predicting for x_test
y_pre = model.predict(X_test)

In [27]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pre))

Accuracy: 0.856

# Random forest Classifier

In [29]:
#inialising the model
last_model = RandomForestClassifier(max_depth=5,
                                    n_estimators=10,max_features=10)
last_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features=10, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
#predicting for x_test
y_last=last_model.predict(X_test)

In [31]:
# calculating the accurcay
print("Accuracy:",metrics.accuracy_score(y_test, y_last))

Accuracy: 0.942

# XGboost Classifier

In [32]:
import xgboost
classifier=xgboost.XGBRegressor()
classifier.fit(X_train,y_train)

C:\Users\DELL\Miniconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, importance_type='gain',
             learning_rate=0.1, max_delta_step=0, max_depth=3,
             min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
             nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
             subsample=1)

In [34]:
y_xgboost=classifier.predict(X_test)

In [37]:
y_xgboost[0]

0.08791697

In [41]:
for i in range(len(y_xgboost)):
    if(y_xgboost[i]>0.5):
        y_xgboost[i]=1
    else:
        y_xgboost[i]=0

In [42]:
# calculating the accurcay
print("Accuracy:",metrics.accuracy_score(y_test, y_xgboost))

Accuracy: 0.228

# Confusion matrix

In [43]:

confusion_matrix(y_test, y_pred)

array([[818,  38],
       [ 38, 106]], dtype=int64)

# precision and recall

In [46]:
#for decision tree
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96       856
           1       0.74      0.74      0.74       144

    accuracy                           0.92      1000
   macro avg       0.85      0.85      0.85      1000
weighted avg       0.92      0.92      0.92      1000

In [47]:
#for svm classifier
print(classification_report(y_test, y_pre))

              precision    recall  f1-score   support

           0       0.86      1.00      0.92       856
           1       0.00      0.00      0.00       144

    accuracy                           0.86      1000
   macro avg       0.43      0.50      0.46      1000
weighted avg       0.73      0.86      0.79      1000

C:\Users\DELL\Miniconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [48]:
#for random forest
print(classification_report(y_test, y_last))

              precision    recall  f1-score   support

           0       0.95      0.99      0.97       856
           1       0.91      0.67      0.77       144

    accuracy                           0.94      1000
   macro avg       0.93      0.83      0.87      1000
weighted avg       0.94      0.94      0.94      1000